---
title: About
templateClass: tmpl-post
eleventyNavigation:
  key: About
  order: 2
layout: layouts/home.njk
---
<br><br>
The <i>intended goal</i> of this <b>blog was</b>
<br>
<ul>writing hyper-focused, idealized posts where each entry is an academic, in-depth, formal analysis of complex abstract conceptualizations.</ul>
That previous goal is <i>deprecated</i> and this <b>blog is</b>
<br>
<ul>now repurposed as an enjoyable personal project.</ul>
<br><br>

It's quite enjoyable to write nonsense into the void.

<br><br>
<hr>
<br><br>

Here's a silly bucket list : 
<ul>
<li>Produce a song</li>
<li>Name a hiking trail</li>
  <s><li>Backpacking overnight</li></s>
<li>Create an art piece</li>
<li>Work for a startup</li>
<li>Start a podcast</li>
  <s><li>Start a blog</li></s>
<li>Get LASIK</li>
<li>Visit therapist/psychologist</li>
<li>Visit Taiwan</li>
  <s><li>Visit Japan</li></s>
<li>Climb a Seven Summit</li>
<li>Live in another country</li>
<li>Learn another language</li>
  <s><li>Become Yelp Elite</li></s>
  <s><li>Gifted Reddit Gold</li></s>
<li>Complete a Rubik's Cube</li>
<li>Host a security CTF</li>
  <s><li>Compete in competitive tournament livestreamed and casted.</li></s>
<li>Sponsor a gaming tournament</li>
<li>Read <s><i>The Brother's Karmazov</i></s>, <i>1Q84</i>, and <s><i>The Hitchhiker's Guide to the Galaxy</i></s>.</li>
</ul>
<!--
<li>Volunteer with an organization for many years</li>
<s><li>Be proficient at investing</li></s>
<li>Be proficient at cooking</li>
<li>Be proficient at photography</li>
<li>Be proficient with another language</li>
(Fractured Space, Warlight, Stratego, Warcraft III, Bhop)
<li>Therapy</li>
<li>Become a parent</li>
<li>Own another dog</li>
<li>Decrease fear of heights</li>
<li>Decrease fear of bugs</li>
<li>Write a book</li>
<s><li>Write a blog</li></s>

<li>Create personal art gallery</li>
<li>Create security software</li>

<li>Visit every US National Park</li>

<li>Homeless Sponsor</li>

<li>Build something great with my hands</li>
-->
<br><br>

<form action="https://www.paypal.com/donate" method="post" target="_href">
<input type="hidden" name="hosted_button_id" value="MFR737HMGB53C" />
<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" title="Support" alt="Support" />
</form>