---
title: Media
templateClass: tmpl-post
eleventyNavigation:
  key: Media
  order: 3
layout: layouts/home.njk
---
<p>
  <ul></ul>
    Currently:
  <ul>
    <li>Music: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Wet_(band)">Wet</a>, 
      <a target="_blank" rel="noopener noreferrer" href="https://en.m.wikipedia.org/wiki/Erotic_Probiotic_2">Nourished By Time</a>, Peake</li>
    <li>Film: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/La_Haine">La Haine</a>, 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/They_Cloned_Tyrone">They Cloned Tyrone</a></li>
    <li>TV: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Succession_(TV_series)">Succession</a></li>
    <li>Book: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Thus_Spoke_Zarathustra">Thus Spoke Zarathustra</a></li>
    <li>Short Story: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Tenth_of_December:_Stories">Tenth of December</a></li>
    <li>Magazine: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Timothy_McSweeney%27s_Quarterly_Concern">McSweeney's</a></li>
    <li>Board Game: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Netrunner">NetRunner</a><li>
    <li>Video Game: 
      <a target="_blank" rel="noopener noreferrer" href="https://www.warzone.com/">Warzone/Warlight</a></li>
  </ul>
</p>

<p>
  <ul></ul>
    Previously:
  <ul>
    <li>Music: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Sault_(band)">Sault</a>, 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Pwr_Bttm">PWR BTTM</a></li>
    <li>Film: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Possession_(1981_film)">Possession</a>, 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/A_Clockwork_Orange_(film)">A Clockwork Orange</a></li>
    <li>TV: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/BoJack_Horseman">BoJack Horseman</a></li>
    <li>Anime: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Odd_Taxi">Odd Taxi</a></li>
    <li>Book: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/House_of_Leaves">House of Leaves</a></li>

    <!--<li>Book: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/House_of_Leaves">House of Leaves</a>, 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Slaughterhouse-Five">Slaughterhouse-Five</a>, 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/No_Longer_Human">No Longer Human</a>, 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Submission_(novel)">Submission</a></li>-->

    <li>Short Story: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/The_Giving_Tree">The Giving Tree</a>, 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Patriotism_(short_story)">Patriotism</a></li>
    <li>Magazine: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/N%2B1">N+1</a>, 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/The_Baffler">The Baffler</a></li>


    <li>Board Game: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/DropMix">DropMix</a><li>
    <!--<li>Board Game: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Stratego">Stratego</a>, 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Reversi">Othello</a></li>
    <li>Video Game: 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/The_Witness_(2016_video_game)">The Witness</a>, 
      <a target="_blank" rel="noopener noreferrer" href="https://en.wikipedia.org/wiki/Warcraft_III:_The_Frozen_Throne">Warcraft III</a>, 
      <a target="_blank" rel="noopener noreferrer" href="hhttps://en.wikipedia.org/wiki/The_Incredible_Machine">The Incredible Machine</a></li>
    <li>Youtube Comedy: 
      <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=WAG9Xn5bJwQ">BriTANick</a>, 
      <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=WWxDUxeXfGg">Let's Talk About Something More Interesting</a></li>
    <li>Youtube Film: 
      <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=ACHVwA1D8fE">Tarboy</a>, 
      <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=1r5b2pngWsg">Everything Is A Remix</a>, 
      <a target="_blank" rel="noopener noreferrer" href="https://www.youtube.com/watch?v=Ela3ChTzFcA">We Got Scared</a></li>-->
  </ul>
</p>

<br>
<hr>

Recently played last.fm:
{% include "recently-played.njk" %}