---
title: Projects
templateClass: tmpl-post
eleventyNavigation:
  key: Projects
  order: 2
layout: layouts/home.njk
---
Here are links to some other projects hosted elsewhere:

<br><br>

<a href='https://talon.akrasia.dev'>Talon Training</a>
<ul>Talon is voice software.</ul>

<hr>

<a href='https://prng.akrasia.dev'>randomness-in-programming-languages</a>
<ul>PRNG Analysis</ul>

<hr>

<a href='https://spencers.dev'>Puzzle</a>
<ul>A fun puzzle</ul>

<hr>

<a href='https://k8s.akrasia.dev/'>kubernetes</a>
<ul>Hosting kubernetes documentation</ul>

<hr>

<a href='https://metaljs.akrasia.dev/'>metaljs</a>
<ul>Hosting metal.js deprecated documentation</ul>

<hr>

<a href='https://sennajs.akrasia.dev/'>sennajs</a>
<ul>Hosting senna.js deprecated documentation</ul>

<hr>

<a href='https://cyberchef.akrasia.dev/'>cyberchef</a>
<ul>Hosting cyberchef instance for personal use</ul>

<hr>

<a href='https://spencers.dev/'>requestr</a>
<ul>Hosting requestr instance for personal use</ul>

<hr>

<a href='https://spencermwoo.github.io/'>spencermwoo.github.io</a>
<ul>Previous personal website.  A static HTML 5 template that uses JS to play around.
<br>
Hosting courtsey of github.  </ul>

<hr>

<a href='https://www.kongregate.com/games/butlergames/gita-tower-defense'>GITA Tower Defense</a>
<ul>A Tower Defense game I created during High School.  Still deeply fond of flash animations, tower defense game genre, flash game era, etc.
<br>
Hosting courtesy of kongregate.  </ul>